@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Vazirmatn:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
    font-family: Figtree;
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

input , button{
    width: 100%;
    height: 4rem;
    padding: 2rem;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.40);
    border-radius: 10px;
    font-size: 20px;
    margin-top: 1.5rem;
    font-weight: 400;
}
button{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    color: white;
}
.google-logo{
    background: white;
    color: #000;
}
p{
    font-size: 0.75rem;
}
a{
    color: black;
    opacity: 100%;
}
h1{
    font-size: 3rem;
    letter-spacing: 2px;
    font-weight: 500;
}
.right-wrapper , .left-wrapper{
    min-height: calc(100vh - 4rem);
    min-width: 50%
}
.right-wrapper{
    margin: 2rem;
    margin-left: 0;
    background-image: url(./assets/Rectangle\ 1.png);
    background-size: cover;
    border-radius: 25px;
    padding: 4rem 3.4rem 4rem;
    position: relative;
    color: #FFFFFF;
}
.left-wrapper{
    text-align: center;
}
.form-sign-up{
    margin: auto;
    width: 60%;
    text-align: left;

}
#begining{
    margin-top: 4rem;
}
.footer-img{
    position: absolute;
    bottom: 3rem;
}
.right-wrapper p{
    font-size: 1.5rem;
}
input::placeholder{
    color: black;
    opacity: 40%;
}
